#tabs-2 {
    width: 1200px;
    height: 500px;
    border: dashed blue;
}

#general_info {
    width: 850px;
    height: 200px;
    float:left;
    border: dashed blue;
}

#war {
    width: 300px;
    height: 200px;
    float:left;
    border: dashed blue;
}

#input {
    width: 350px;
    height: 300px;
    float: left;
    border: dashed blue;
}

#enemies_info {
    width: 800px;
    height: 300px;
    float: left;
    border: dashed blue;
}

#enemies_info > table {
    margin: 20px;
}

.general_info_table {
    width: 20%;
    font-family: "Trebuchet MS",Arial,Helveti a,sans-serif;
    border-collapse: collapse;
    margin: 10px;
}

.general_info_table:first-of-type {
    float:left;
    margin-bottom: 5px;
}

.general_info_table > th,td {
    border: 1px solid rgb(51,51,255);
    padding: 3px 7px 2px 7px;
    background: rgb(245,186,111);
}

#enemies_info > table {
    border: thin solid red;
    border-collapse: collapse;
}

#enemies_info > table > th,td {
    padding: 3px 7px 2px 7px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}

