<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "intelapp/jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.css" %}"/>
        <script src="{% static "intelapp/jquery-ui-1.10.4/js/jquery-1.10.2.js" %}" type="text/javascript"></script>
        <script src="{% static "intelapp/jquery-ui-1.10.4/js/jquery-ui-1.10.4.js" %}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#tabs").tabs();
            })
        </script>
    </head>    
<body>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">lider</a></li>
            <li><a href="#tabs-2">gracz</a></li>
            <li><a href="#tabs-3">oficer</a></li>
        </ul>
        <div id="tabs-1">
            
        </div>
        <div id="tabs-2">
            
        </div>
        <div id="tabs-3">
            
        </div>
    </div>
</body>
</html>